/* Write your CSS here */
* {
  font-family: 'roboto';
}
li {
  list-style-type: none;
}
.language-button {
  color: #1e293b;
  font-size: 14px;
  border: none;
  background-color: transparent;
}
.active-btn {
  color: #0284c7;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #0284c7;
  border-radius: 18px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
